@import "./breakpoints.scss";
@import "./mixins.scss";
@import "./variables.scss";

.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
  @include md {
    flex-direction: row-reverse;
    margin-bottom: 60px;
  }
  .picture {
    height: 400px;
    margin-top: -70px;
    z-index: -1;
    box-shadow: rgba(78, 225, 160, 0.3) 5px 5px,
      rgba(78, 225, 160, 0.2) 10px 10px, rgba(78, 225, 160, 0.1) 15px 15px,
      rgba(78, 225, 160, 0.05) 20px 20px, rgba(78, 225, 160, 0.02) 25px 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    @include md {
      height: 600px;
      position: absolute;
      top: 0;
      right: 0;
      margin-top: -90px;
      box-shadow: none;
      box-shadow: rgba(78, 225, 160, 0.4) 0px 5px,
        rgba(78, 225, 160, 0.3) 0px 10px, rgba(78, 225, 160, 0.2) 0px 15px,
        rgba(78, 225, 160, 0.1) 0px 20px, rgba(78, 225, 160, 0.05) 0px 25px;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 0;
    }
    @include xl {
      height: 720px;
      margin-top: -120px;
      position: relative;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      box-shadow: rgba(78, 225, 160, 0.4) 5px 5px, rgba(78, 225, 160, 0.3) 10px 10px, rgba(78, 225, 160, 0.2) 15px 15px, rgba(78, 225, 160, 0.1) 20px 20px, rgba(78, 225, 160, 0.05) 25px 25px;
    }
  }
  .button {
    margin-bottom: 30px;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    @include md {
      align-items: flex-start;
    }
    @include xl {
    }
    .description {
      color: $almostwhite;
      font-size: 17px;
      line-height: 26px;
      text-align: center;
      margin-top: 8px;
      padding: 16px;
      @include md {
        text-align: left;
        margin-top: 30px;
        padding: 0;
        font-size: 18px;
        line-height: 28px;
        max-width: 565px;
        margin-bottom: 30px;
      }
      @include xl {
        font-size: 18px;
        line-height: 28px;
      }
    }
    .slogan {
      margin-top: 40px;
      margin-bottom: 0;
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -1.13636px;
      @include md {
        text-align: left;
        font-size: 72px;
        line-height: 72px;
        max-width: 770px;
      }
      @include xl {
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -2.5px;
        min-width: 600px;
      }
      .name {
        text-decoration: underline $green 4px;
      }
    }
  }
}
