@import "./breakpoints.scss";
@import "./mixins.scss";
@import "./variables.scss";
.dates {
    min-width: 380px;
    overflow: hidden;
    .icon {
        width: 30px;
        height: 30px;
        font-size: 25px;
    }
}
.header {
    min-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include md {
      justify-content: space-around;
    }
    .title {
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1.13636px;
      @include md {
        font-size: 70px;
      }
    }
  }