@import "./breakpoints.scss";
@import "./mixins.scss";
@import "./variables.scss";


.line {
    width: 100%;
    height: 1px;
    background-color: white;
    @include md {
        margin-top: 10px;
    }
}
.title {
    font-size: 25px;
}
.technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    .fontawesome {
        font-size: 40px;
        @include md {
            font-size: 60px;
        }
        @include xl {
            font-size: 70px;
        }
    }
    .element {
        color: $green;
        width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        @include md {
            width: 110px;
        }
        @include xl {
            width: 170px;
        }
    }
    .description {
        color: white;
    }
}