@import './scss/mixins.scss';
@import './scss/variables.scss';
@import './scss/breakpoints.scss';

body {
    font-family: "Space Grotesk", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #151515;
    color: #FFFFFF;
    background-image: url(./assets/images/pattern-rings.svg), url(./assets/images/pattern-rings.svg), url(./assets/images/pattern-rings.svg), url(./assets/images/pattern-circle.svg), url(./assets/images/pattern-rings.svg);
    background-position: 220% 11%, -100% 40%, 200% 30%, 125% 65%, 220% 62%;
    background-repeat: no-repeat;
    min-height: 100vh; 
    @include md {
        background-image: url(./assets/images/pattern-circle.svg), url(./assets/images/pattern-rings.svg), url(./assets/images/pattern-rings.svg), url(./assets/images/pattern-rings.svg), url(./assets/images/pattern-circle.svg), url(./assets/images/pattern-rings.svg);
        background-position: 114% 19%, -40% 11%, -100% 40%, 200% 30%, 125% 65%, 220% 62%;
    }
    @include lg {
        background-image: url(./assets/images/pattern-rings.svg), url(./assets/images/pattern-rings.svg), url(./assets/images/pattern-rings.svg), url(./assets/images/pattern-rings.svg);
        background-position: 110% 22%, -21% 5%,-40% 38%, 110% 52%, -50% 62%;
        background-size: 50%, 60%, 60%, 60%, 40%;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
  }